* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #161616;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    background-color: #161616;
}

.brand {
    text-decoration: none;
    font-weight: 1000;
    color: white;
    display: none;
}

header span {
    color: #dc542a;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 300ms;
}

.link:hover,
.link:active {
    color: #dc542a;
}

.btn-login {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background: none;
    border: 2px solid #dc542a;
    padding: 5px 10px;
    transition: 300ms;
}

.btn-login:hover,
.btn-login:active {
    background: #dc542a;
}

main {
    padding: 30px 20px;
    margin-top: 50px;
    gap: 40px;
    display: grid;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four';
}

.background-img-wide{
    display: none;
}

.container {
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
    background-color: #fff;
}

.container h3 {
    font-size: 2rem;
    color: #dc542a;
}

.container p {
    font-size: 1.2rem;
}

.invert {
    background: linear-gradient(to right, #e9af44 70%, #dc542a);
}

.container:hover {
    transform: translateY(-10px);
}



@media (width > 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .brand {
        text-decoration: none;
        font-weight: 1000;
        color: white;
        display: block;
        font-size: 2rem;
    }

    .link-container {
        gap: 40px;
    }

    main {
        padding-top: 40px;
        grid-template-areas:
            'one one'
            'two three'
            'four four';
    }

    .container.one {
        grid-area: one;
    }

    .container.two {
        grid-area: two;
    }

    .container.three {
        grid-area: three;
    }

    .container.four {
        grid-area: four;
    }

    .background-img-wide{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.1;
        width: 100%;
        height: 100%;
    }
}